# OpenAI API Key for excuse/apology generation + translation
OPENAI_API_KEY=#############################################

# ScreenshotAPI for visual proof generation
SCREENSHOT_API=https://shot.screenshotapi.net/screenshot
SCREENSHOT_TOKEN=################################

EMAIL_USERNAME=################@gmail.com
EMAIL_PASSWORD=################
EMAIL_RECIPIENT=default@example.com