OPENAI_API_KEY=*****************************************************

HCTI_API_USER=***********************************
HCTI_API_KEY=************************************

EMAIL_USERNAME=*******************@gmail.com
EMAIL_PASSWORD=****************

EMAIL_RECIPIENTS=recipient1@email.com,recipient2@email.com